!!!
%html
  %head
    %title
      #{title}
    %link{:rel => "stylesheet", :href => "/style.css"}
    %script{:src => "http://code.jquery.com/jquery-1.9.1.js"}
    #{extra_header}
    %script{:src => '/play.js', :type => 'text/javascript'}
  %body
    %div#wrapper
      %header
        .title__wrapper
          %h1.title
            %a{:href => '/', :class => 'title__link'} Horoscopes everyday
        .authorization
          - auth_links.each do |link|
            %a.authorization__link{:href => link[:url]}=link[:title]
      %section.content
        #{content}
      %footer
        %span.footer__text
          (C)
          %a{:href => "http://github.com/tilast"}tilast
          , 2013. All rights reserved