.loginForm
  %h2
    Login
  %span
    #{flash[:login_error]}
  %br
  %form{:method => "post", :action => "/login"}
    %p
      %label
        %span="Login: "
        %br
        %input{:type => "text", :name => "login"}
    %p
      %label
        %span="Password: "
        %br
        %input{:type => "password", :name => "password"}
    %p
      %label
        %input{:type => "submit", :name => "go_login", :value => "Log in"}