%div.main
  %div.welcome
    %p.welcome__text
      Hello! Welcome to the horoscopes site! Here you can sign up and see horoscopes for you or your friends everyday!
  %div.userBlock
    #{loginForm}
    #{signupForm}