%div.signupForm
  %h2
    Sign up
  %span
    #{flash[:signup_error]}
  %br
  %form{:method => "post", :action => "/signup"}
    %p
      %label
        %span="Login: "
        %br
        %input{:type => "text", :name => "login"}
    %p
      %label
        %span="Password: "
        %br
        %input{:type => "password", :name => "password"}
    %p
      %label
        %span="Password again: "
        %br
        %input{:type => "password", :name => "password_again"}
    %p
      %label
        %span="Birthday(Y/m/d): "
        %br
        %input{:type => "text", :name => "birthday", :id => "datepicker"}
    %p
      %label
        %input{:type => "submit", :name => "go_signup", :value => "Sign up"}